.back-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #000000;
    border: solid 1px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #000000;
    color: #fff;
  }
  
  .icon {
    margin-right: 8px;
  }

    /* Media query for smaller screens */
 @media screen and (max-width: 1024px) {
 }

 /* Dark Mode Styles */

.dark-mode .back-button {
  background-color: #000000;
  color: #ffffff;
}


.dark-mode .back-button:hover {
  background-color: #ffffff;
  color: #000000;
}