.shopping-detail-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: auto auto 1fr auto; 
    gap: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .top-section {
    grid-column: 1 / span 2;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .left-section, .right-section {
    padding: 10px;
    background-color: #ffffff;
    min-height: 60vh;
  }
  
  .bottom-section {
    grid-column: 1 / span 2;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }

  @media (max-width: 1024px) {
    .shopping-detail-container {
      grid-template-columns: 1fr;
    }
  
    .left-section,
    .right-section {
      grid-column: 1;
      min-height: 0vh;
    }
  }
  .member-names {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 16px;
  }
  .owner-name {
    font-weight: bold;
    margin-right: 8px;
  }
  .owner-name:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #333;
  }
  .member-name {
    margin-right: 8px;
  }
  .member-name:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #333;
  }

/* Dark Mode Styles */

.dark-mode .shopping-detail-container {
  border: 1px solid #000000;
}

.dark-mode .top-section,
.dark-mode .bottom-section {
  background-color: #000000;
}

.dark-mode .left-section,
.dark-mode .right-section {
  background-color: var(--background-dark);
}

.dark-mode .owner-name,
.dark-mode .member-name {
  color: var(--text-dark);
}

.dark-mode .owner-name:hover,
.dark-mode .member-name:hover {
  color: #fff; /* Hover color in dark mode */
}