.editable-title-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
  }
  
  .editable-title {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
  }
  
  .editable-input {
    border: 2px solid #ccc;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .editable-buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 10px;
  }
  
  .editable-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    width: auto;
  }
  
  .editable-button:hover {
    background-color: #0056b3;
  }
  
  .editable-edit-button {
    background-color: #007BFF;
  }
  
  .editable-save-button {
    background-color: #007BFF;
  }
  
  .editable-button-icon {
    margin-right: 5px;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

   /* Media query for smaller screens */
 @media screen and (max-width: 1024px) {
    .editable-buttons {
        display: flex;
        align-items: center;
        margin-top: 30px;
      }
      .editable-input {
        border: 2px solid #ccc;
        font-size: 25px;
        border-radius: 5px;
        margin-right: 5px;
      }
  }

  @media (max-width: 600px) {
    .editable-input {
      width: 100%;
    }
  
    .editable-button {
      display: block;
      width: auto;
      margin-top: 10px;
    }
  }