h3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .container {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
  }

   /* Media query for smaller screens */
 @media screen and (max-width: 1024px) {
    h3 {
      margin-left: 100px;
      margin-right: 100px;
    }
  }¨

  .dark-mode .container ul {
    background-color: #333333;
  }
  
  .dark-mode .container li {
    background-color:black;
  }

  .dark-mode .my-react-select-container .my-react-select__control {
    background-color: black;
    color: white !important;
  }

  .dark-mode .my-react-select-container .my-react-select__menu {
    background-color: black;
    color: white !important;
  }

  .dark-mode .my-react-select-container .my-react-select__single-value {
    background-color: black;
    color: white;
  }

  .dark-mode .my-react-select-container .my-react-select__placeholder {
    color: white
}

.dark-mode .my-react-select-container .my-react-select__option--is-focused {
  color: black;
}
