h3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 250;
    color: #333;
    margin-bottom: 20px;
  }
  
  .container {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
  }

  .toggle-button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    width: auto;
  }

  .toggle-button:hoover {
    background-color: #007BFF;
  }

  .dark-mode .container ul {
    background-color: #333333;
  }
  
  .dark-mode .container li {
    background-color:black;
  }

  .dark-mode .my-react-select-container .my-react-select__control {
    background-color: black;
    color: white !important;
  }

  .dark-mode .my-react-select-container .my-react-select__menu {
    background-color: black;
    color: white !important;
  }

  .dark-mode .my-react-select-container .my-react-select__single-value {
    background-color: black;
    color: white;
  }

  .dark-mode .my-react-select-container .my-react-select__placeholder {
    color: white
}

.dark-mode .my-react-select-container .my-react-select__option--is-focused {
  color: black;
}

.dark-mode h3 {
  color: white;
}
